////.grid {
////  display: flex;
////  flex-wrap: wrap;
////  gap: 10px;
////}
////
////.grid-item {
////  width: calc(25% - 10px);
////  overflow: hidden;
////  border-radius: 10px;
////}
////
////.item-content {
////  display: flex;
////  flex-direction: column;
////}
////
////img {
////  width: 100%;
////  height: auto;
////}
////
////.details {
////  background-color: rgba(255, 255, 255, 0.8);
////  padding: 10px;
////  box-sizing: border-box;
////}
///* Загальні стилі для обох режимів */
///* Grid mode styles */
//.grid {
//  display: flex;
//  flex-wrap: wrap;
//  gap: 10px;
//}
//
//.grid-item {
//  width: calc(25% - 10px);
//  overflow: hidden;
//  border-radius: 10px;
//}
//
//.grid .details {
//  background-color: rgba(255, 255, 255, 0.8);
//  padding: 10px;
//  box-sizing: border-box;
//}
//
//.grid img {
//  width: 100%;
//  height: auto;
//}
//
///* List mode styles */
//.grid.list {
//  display: block; /* Change to block for list layout */
//}
//
//.grid.list .grid-item {
//  width: 100%; /* Adjust width for list layout */
//}
//
//.grid.list .details {
//  background-color: rgba(255, 255, 255, 0.8);
//  padding: 10px;
//  box-sizing: border-box;
//  margin-top: 10px; /* Adjust spacing between items in list layout */
//}
.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.grid-item {
  width: calc(25% - 10px);
  overflow: hidden;
  border-radius: 10px;
}

.item-content {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: auto;
}

.details {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-sizing: border-box;
}
