.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.list-item img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.details {
  display: flex;
  flex-direction: column;
}
